<div class="animate__animated animate__fadeInRightBig animate__faster">

<h2>Por País</h2>
<hr>
<div class="row">
    <div class="col">
         
        <app-pais-input 
            (onEnter)="buscar($event)" 
            (onDebounce)="sugerencias( $event )"
            placeholderValue = "Buscar por País..."
        ></app-pais-input>
        
    </div>
</div>

<hr>
</div>

<div *ngIf="hayError" class="alert alert-danger">
    No se encontró nada con el termino {{termino}}
</div>

<div *ngIf="paises.length > 0" class="row">
    <div class="col">
        <app-pais-tabla [paises]="paises" ></app-pais-tabla>
    </div>
</div>
