<table class="table table-hover" >
    <caption>Tabla de resultado de busqueda de Paises</caption>
    <thead>
        <tr>
            <th>#</th>
            <th>Bandera</th>
            <th>Nombre</th>
            <th>Población</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let pais of paises; let i = index" class="animate__animated animate__fadeInRightBig animate__faster">
            <td>{{i+1}}</td>
            <td>
                <img class="small-flag" [src]="pais.flags.svg" alt="">
            </td>
            <td>{{pais.name.common}}, {{ pais.capital }} </td>
            <td>{{pais.population | number}}</td>
            <td>
                <a [routerLink]="['/pais', pais.cca2]" >Ver...</a>
            </td>
        </tr>
    </tbody>
</table>